*{
   margin:0;
   padding:0;
   list-style:none;
			}

.cover{
  	background-image:url('p123.JPG');
	height:100vh;
	weight:100%;
	background-size:100% 100%;
					}

.nav-bar{
	  height:90px;
	  width:100%;
	  background-color:rgba(0,0,0,.7);
          display:inline-block;

					}

.left-bar{
	  height:90px;
	  width:25%;
	  background-color:none;
	  display:inline-block;
          	 			}

.left-bar h1{
	     text-transform:uppercase;
	     font-weight:bold;
	     color:green;
	     display:inline-block;
	     padding-left:20px;
	     line-height:20px;
	     }
.right-bar{
	   height:90px;
	   width:70%;
	   background-color:none;
           line-height:100px;
           display:inline-block;
	  			 }

.right-bar ul li{
		 color:green;
		 display:inline-block;
                 font-size:20px;
                 font-weight:bold;
                 box-sizing:border-box;
                 padding-left:100px;
		 display:inline-block;
					}

.right-bar ul li:hover{color:white;cursor:pointer;}

.right-bar ul li:nth-child(1){color:yellow;}

.hero-text h3{
	      box-sizing:border-box;
	      text-transform:uppercase;
	      font-size:20px;
	      text-align:center;
	      padding-top:180px;
	      color:yellow;
	   			}

.hero-text h2{
	       text-transform:uppercase;
	       font-size:50px;
	       text-align:center;
	       color:yellow;
				}

.hero-text h4{
	      text-transform:uppercase;
	      text-align:center;
	      font-size:20px;
	      color:yellow;
					}

#btn-1{
	text-align:center;
	height:50px;
	width:100px;
	text-transform:uppercase;
	font-size:20px;
	margin-left:550px;
	margin-top:20px;
	color:yellow;
	background:linear-gradient(45deg,black,transparent);
	border:1px solid black;
	border-square:50px;
	box-shadow:0px 0px 5px 10px green ;
						}

#btn-1:hover{color:green;cursor:pointer;border-radius:50px;box-shadow:0px 0px 5px 10px yellow;}

#btn-2{
	text-align:center;
	height:50px;
	width:100px;
	text-transform:uppercase;
	font-size:20px;
	margin-left:50px;
	margin-top:-50px;
	color:yellow;
	background:linear-gradient(45deg,black,transparent);
	border:1px solid black;
	border-square:50px;
	box-shadow:0px 0px 5px 10px green;
				               }

#btn-2:hover{color:green;cursor:pointer;border-radius:50px;box-shadow:0px 0px 5px 10px yellow;}

